<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.claresti.mistareas.gestordetareas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.claresti.mistareas.gestordetareas.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.claresti.mistareas.gestordetareas.Materias" />
        <activity android:name="com.claresti.mistareas.gestordetareas.mostrarTarea" />
        <activity android:name="com.claresti.mistareas.gestordetareas.agregarTarea" />
        <activity android:name="com.claresti.mistareas.gestordetareas.agregar_materia" />
        <activity android:name="com.claresti.mistareas.gestordetareas.horario" />
        <activity android:name="com.claresti.mistareas.gestordetareas.completadas" />
        <activity android:name="com.claresti.mistareas.gestordetareas.acerca" />

        <service android:name="com.claresti.mistareas.gestordetareas.ServicioNotificaciones" />
    </application>

</manifest>